{% extends 'base.html.twig' %}

{% block title 'Tous nos bien' %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto asperiores blanditiis dolorum,
            esse et explicabo fuga fugiat laboriosam modi molestias nemo nihil obcaecati officiis provident quisquam
            similique unde ut.</p>
    </div>
{% endblock body %}